<mat-card>

    <form
      class="example-form"
      (submit)="onSalvarLembrete(lembreteForm)"
      #lembreteForm="ngForm"
    >
    <mat-grid-list cols="2" rowHeight="2:1">

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Data Prevista</mat-label>
          <input
            type="text"
            required
            lang="TP"
            name="previstaDate"
            matInput
            [matDatepicker]="picker"
            #previstaDate="ngModel"
            [ngModel]="lembrete?.previstaDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button color="accent" mat-raised-button>Salvar Lembrete</button>
      </mat-grid-tile>
   
    </mat-grid-list>


        <mat-form-field class="areatext" appearance="fill">
          <mat-label>Lembrete</mat-label>
          <textarea
            type="text"
            matInput
            placeholder="Eu não posso esquecer de..."
            name="nome"
            ngModel
            required
            minlength="3"
            #nome="ngModel"
            [ngModel]="lembrete?.nome"
          ></textarea>
        </mat-form-field>


    </form>
  
</mat-card>
