.back {
    background-image:url(src/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#logo {
    background-image: url(src/assets/img/lembrete.png);
   width: 60px;
   height: 60px;
   background-size: cover;
}


#bt1 {
    font-size: 20px;
    padding-right: 50px;
    color: blue;
  
}

#bt2 {
    font-size: 20px;
    color: red;
}

#bt3 {
    font-size: 20px;
    color: black;
    background-color: blanchedalmond;
}

#bt4 {
    font-size: 20px;
    color: black;
}