<div class="row justify-content-center">
  <p>{{ content }}</p>

  <h2 class="title">Seja bem vindo ao Easy Lembretes</h2>
  <p class="subtitle">
    Nossa aplicação proporciona uma forma simples e eficaz de salvar notas e
    lembretes.
  </p>

  <img class="img" src="assets/img/xavier.jpg"/>

</div>

<div class="row justify-content-center"> 
  <p class="subtitle2">
   Clique nos botões abaixo para se cadastrar ou logar.
  </p>
  <a id="bt1" mat-button color="primary" href="/register"> Cadastrar </a>
  <a id="bt2" mat-button color="warn" href="/login"> Logar </a>
</div>

