<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Usuário</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Um usuário é necessário.</div>
          <div *ngIf="username.errors.minlength">
            Um usuário precisa ter pelo menos 3 caracteres.
          </div>
          <div *ngIf="username.errors.maxlength">
            Um usuário pode ter até 20 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Um e-mail é requerido</div>
          <div *ngIf="email.errors.email">
            O e-mail precisa ser válido.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Uma senha é requerida</div>
          <div *ngIf="password.errors.minlength">
            A senha deve conter pelo menos 6 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Cadastre-se</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        O cadastro falhou.<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Seu cadastro foi realizado com sucesso. 
      <a mat-button color="primary" [routerLink]="['/login']">
        Fazer Login
      </a>
    </div>
  </div>
</div>
